<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
	<test thread-count="5" name="MyTestResults_1">
		<classes>
			<class name="com.testscenarios.AlertDemo" />
			<class name="com.testscenarios.Annaotations_demo2"></class>
			<class name="com.testscenarios.FlightBooking"></class>
			<!-- <class name="com.h2ojewellery_testscenarios.TS_01_Registration"></class>
			<class name="com.h2ojewellery_testscenarios.TS_02_Login_Logout"></class> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
